*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body{
    overflow: hidden;
  }
  
  
  .web-wrapper{
    width: 100%;
    min-height: 100vh;
    background-image: url('assets/adrien-olichon-ilVYjf0J378-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}  